#TXTtieude{
    -fx-font-size: 15px;
}

#displayLabe{
    -fx-font-size: 15px;
}

.text-area .content {
    -fx-background-color: #EEEEEE; /* Đổi màu nền nhập liệu */
}

.comboBox.setStyle("-fx-font-size: 18px;");