#a{
    -fx-background-image: url("../image/Plus.png");
    -fx-background-color: #EEEEEE;
        -fx-background-size: 40px 40px;
}

#b{
    -fx-background-image: url("../image/Calendar.png");
    -fx-background-color: #EEEEEE;
    -fx-background-size: 40px 40px;
}

#c{
    -fx-background-image: url("../image/Flag.png");
    -fx-background-color: #EEEEEE;
    -fx-text-fill: transparent;
    -fx-background-size: 40px 40px;
}

#datePicker {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-padding: 0;
    -fx-margin: 0;
}

#datePicker .text-field {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
}

#listViewItems .list-cell:filled:selected {
    -fx-background-color: #CCCCCC;
    -fx-text-fill: black;
}

/* Định dạng ContextMenu */
.context-menu {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 10px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

/* Định dạng từng MenuItem */
.menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-padding: 8px 20px;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
}

/* Khi hover vào MenuItem */
.menu-item:hover {
    -fx-background-color: #DDDDDD;
    -fx-border-radius: 5px;
}

.list-cell {
    -fx-padding: 5px;
    -fx-background-color: #EEEEEE;
    -fx-padding: 5px 0px; /* Tạo khoảng cách giữa các dòng */
    -fx-background-insets: 0 0 5px 0;
    -fx-border-color: #D1D1D1; /* Màu viền xám nhạt */
    -fx-border-width: 0 0 1px 0; /* Chỉ viền dưới */
    -fx-padding: 5px; /* Khoảng cách bên trong */
}

.list-cell:filled:selected {
    -fx-background-color: #4CAF50; /* Màu nền khi được chọn */
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-opacity: 0; /* Ẩn thanh cuộn mặc định */
    -fx-background-color: transparent;
    -fx-pref-width: 0px;
    -fx-pref-height: 0px;
}

/* Khi di chuột vào, thanh cuộn hiển thị */
.scroll-pane:hover .scroll-bar {
    -fx-opacity: 1; /* Hiện thanh cuộn */
    -fx-pref-width: 8px;  /* Độ rộng của thanh cuộn */
    -fx-pref-height: 8px;
    -fx-background-color: rgba(0, 0, 0, 0.3); /* Màu xám nhạt */
}

.scroll-bar .thumb {
    -fx-background-color: rgba(100, 100, 100, 0.5); /* Màu thanh trượt */
    -fx-background-radius: 5px;
}

/* Ẩn thanh cuộn ngang */
.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;  /* Làm mờ thanh trượt */
    -fx-pref-height: 0px; /* Giảm chiều cao về 0 */
    -fx-max-height: 0px;
    -fx-min-height: 0px;
}

.tree-view {
    -fx-background-color: #EEEEEE;
     -fx-font-size: 20px;
}

.tree-view .tree-cell {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: black;
}

