#a{
    -fx-background-image: url("../image/Plus.png");
    -fx-background-color: #EEEEEE;
    -fx-background-size: 40px 40px;
}

#b{
    -fx-background-image: url("../image/Calendar.png");
    -fx-background-color: #EEEEEE;
    -fx-background-size: 40px 40px;
}

#c{
    -fx-background-image: url("../image/Flag.png");
    -fx-background-color: #EEEEEE;
    -fx-text-fill: transparent;
    -fx-background-size: 40px 40px;
}

#datePicker {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-padding: 0;
    -fx-margin: 0;
}

#datePicker .text-field {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
}

#listViewItems .list-cell:filled:selected {
    -fx-background-color: #CCCCCC;
}

.context-menu {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 10px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-padding: 8px 20px;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
}

/* Khi hover vào MenuItem */
.menu-item:hover {
    -fx-background-color: #DDDDDD;
    -fx-border-radius: 5px;
}

.list-cell {
    -fx-padding: 5px;
    -fx-background-color: #EEEEEE;
    -fx-padding: 5px 0px;
    -fx-background-insets: 0 0 5px 0;
    -fx-border-color: #D1D1D1;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 5px;
}

.list-cell:filled:selected {
    -fx-background-color: #4CAF50;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-pref-width: 0px;
    -fx-pref-height: 0px;
}

.scroll-pane:hover .scroll-bar {
    -fx-opacity: 1;
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.scroll-bar .thumb {
    -fx-background-color: rgba(100, 100, 100, 0.5);
    -fx-background-radius: 5px;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
    -fx-min-height: 0px;
}

.tree-view {
    -fx-background-color: #EEEEEE;
     -fx-font-size: 20px;
}

.tree-view .tree-cell {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: black;
}

.tree-view .tree-cell:hover {
    -fx-background-color: #aaaaaa;
}

